
<div id="backdrop">
<section class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <%if current_user%>
      <h2><%=current_user.username.capitalize%> welcome to the community!</h2>
      <p class="text-muted">Where Unlimited Fun Happens!</p>
      <hr>
      <%else%>
      <h2>Join our community!</h2>
      <p class="text-muted">Unlimited Possibility, Unlimited Fun</p>
      <hr>
      <%end%>
    </div>
    <div class="row">
      <div class="col-lg-4 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <h2 class='text-center'>
                  <%if current_user%>
                  I
                  <%else%>
                  We
                  <%end%>
                    <i class="fa fa-heart"></i></h2>
                  <h2 class='text-right'>To Chat!</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-lg-offset-2 my-auto">
        <div class="container-fluid">
          <%if current_user%>
          <h1 class="text-center" id="startChatBtn">
          <a href='/chatboxes'>Start TXTChat Now!<a>
          </h1>
          <%else%>
          <div class="login" id="card">
            	<div class="front signin_form">
                <p>Login Your Account</p>
                <form class="form-horizontal login" action="/login" accept-charset="UTF-8" data-remote="true" method="post">
                  <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="ipL5QxQtMHkdTbctqyAa1kweTecIY7OBxFHctrc5a4KGh4mjIljrjxIgYgt3mFRiaCgitLmVqMDfRSMvNlHzKA==">
                      <div class="form-group">
                          <div class="input-group">
                              <input class="form-control" type="text" name="user[username]">
                              <span class="input-group-addon">
                                  <i class="glyphicon glyphicon-user"></i>
                              </span>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <input class="form-control" type="password" name="user[password]">
                              <span class="input-group-addon">
                                  <i class="glyphicon glyphicon-lock"></i>
                              </span>
                          </div>
                      </div>

                      <div class="form-group sign-btn">
                          <input type="submit" name="commit" value="Log In" class="btn btn-primary" data-disable-with="Log In">
                          <p><a href="#" class="forgot">Can't access your account?</a></p>
                          <p><strong>New to TXTChat?</strong><br><a href="#" id="flip-btn" class="signup signup_link">Sign up for a new account</a></p>
                      </div>
                  </form>
                </div>
                <div class="back signup_form" style="display:none">
                  <p>Sign Up for Your New Account</p>
                  <form class="form-horizontal" action="/signup" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
                    <input type="hidden" name="authenticity_token" value="q4p2w8twSz36SAM92wUrWnxGOK+75nmY/bWCEFcawdkPHY+AbwhN0F5cJZ3Uw4gINLTMH9+P8S5DnonBAoWzvw==">
                      <div class="form-group">
                          <div class="input-group">
                              <input class="form-control" id="username_input" type="text" name="user[username]">
                              <span class="input-group-addon">
                                  <i class="glyphicon glyphicon-user"></i>
                              </span>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <input class="form-control" type="password" name="user[password]">
                              <span class="input-group-addon">
                                  <i class="glyphicon glyphicon-lock"></i>
                              </span>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <input class="form-control" type="password" name="user[confirm_password]">
                              <span class="input-group-addon">
                                  <i class="glyphicon glyphicon-lock"></i>
                              </span>
                          </div>
                      </div>

                      <div class="form-group sign-btn">
                          <input type="submit" name="commit" value="Sign Up" class="btn btn-primary" data-disable-with="Sign Up">
                          <br><br>
                          <p>You have already Account So <a href="#" id="unflip-btn" class="signup">Log in</a></p>
                      </div>
                  </form>
                </div>
            </div>
            <%end%>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<footer>
  <div class="container text-center">
    <p>&copy; 2017 TXTChat. All Rights Reserved.</p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#">Privacy</a>
      </li>
      <li class="list-inline-item">
        <a href="#">Terms</a>
      </li>
      <li class="list-inline-item">
        <a href="#">FAQ</a>
      </li>
    </ul>
  </div>
</footer>
