// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-input{
  max-width: 11vw;
}

#searchForm{
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-bottom: .2em solid white;
}

#searchBtn{
  background-color: rgba(0,0,0,0);
  border-radius: 10%;
  color: white;
  border: 2px solid white;
}

.hide{
  display: none;
}

.searchedUser{
  display: block;
}

.searchedUser:hover{
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.addUserBtn{
  background-color: rgba(0, 0, 0, 0);
}

.inPageSearchBar{
  width: 100%;
}

.search{
  overflow-y: auto;
  height: 80vh;
}

.searchIndex, .overall{
  background: url('/searchIndex.jpeg');
  background-size: cover;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  color: white;
  border-radius: 20px;
}

#searchBackdrop, .backdrop{
  background-color: rgba(0, 0, 0, 0.4);
  height:97%;
  color: white;
  border-radius: 20px;
  padding: 0;
}
